@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #434343;
    width: 100%;
    min-height: 100vh;
    font-family: 'Mulish', sans-serif;
}

/* NAVIGATION BAR SECTION */
nav{
    width: 100%; 
    height: 15%;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px 10px 65px;
    position: fixed;
    background-color: #434343; 
    z-index: 1;
}

nav::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px; 
    background-image: linear-gradient(to right, #FFFFFF, #000000);
    position: absolute;
    top: 91%; 
    left: 46px;
    margin: 10px 3% 0 3%;
  } 

nav h1{
    width: 350px;
    color: #FFFFFF;
    cursor: pointer;
    text-align: left;
    padding: 23px 0 0 10px;
    line-height: 0;
}

nav img{ 
    margin-left: -15px;
    height: 90px;
}

#topHead{     
    font: bold 25px 'Mulish', sans-serif;
}

#lowHead{
    font: 21px 'Mulish', sans-serif; 
}

nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    margin: 25px 30px 0 0;
}

nav ul li {
    display: inline-block;
    margin: 10px 30px 10px 30px; /* top margin 10px, right and left margins 30px, bottom margin 0 */
    position: relative; 
}

nav ul li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    border-bottom: 1px solid white;
}

nav ul li a{
    position: relative;
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
    transition: 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active{
    color: #D9D9D9;
}

/* ENTRY SECTION */
.entry{
    width: 100%;
    height: 100%;
    padding: 120px 3% 0 3%; 
    text-align: center;    
}

.entry h1, .MDSyntax h1{ 
    margin-top: 10px;
    font: bold 33px 'Mulish', sans-serif;
    color: #FFFFFF;  
}

.entry p, .MDSyntax p{  
    margin-top: 10px; 
    margin-left: 200px;
    font: 17px 'Mulish', sans-serif; 
    color: #FFFFFF; 
    max-width: 1000px;  
} 

/* MARKDOWN INPUT CONTAINER */
#Container { 
    margin-top: 20px;
    display: flex;
    flex-direction: column; 
    margin-left: 20px; 
}

#Toolbar {
    background-color: #000000;
    padding: 13px;  
    width: 500px; 
    border-bottom: 1px solid #ccc; 
    display:flex; 
    justify-content: space-between;    
    font-size: 18px;  
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;  
}

#Toolbar div {
    color: #ffffff; 
    font-weight: bold;
} 

#Toolbar button { 
    margin-left: auto; 
    background: none;
    border: none; 
    outline: none; 
    font: inherit;
    cursor: pointer;   
    color: #ffffff; 
    font-weight: bold;
} 

#Toolbar button:hover{ 
    color: #D9D9D9;
}

#markdownInput {    
    height: 400px; 
    padding: 20px;  
    padding-top: 15px; 
    font: 16px 'Mulish', sans-serif;
    border: 1px solid #000000; 
    resize: none; 
    box-sizing: border-box; 
    overflow-y: auto; 
    overflow-x: auto;   
    white-space: nowrap;
    border-bottom-right-radius: 5px;  
    width: 465px; 

    scrollbar-color: #000000 #D9D9D9;
    scrollbar-width:auto; 
    outline: none;
} 

#markdownInput::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 5px; 
}

#markdownInput::-webkit-scrollbar-track {
    background-color: #D9D9D9;
}

#markdownInput::placeholder {
    color: #999;  
} 

.textarea-container {
    display: flex;  
}

.line-numbers { 
    height: 400px;
    width: 35px;
    padding-top: 15px;
    font-family: 'Mulish', sans-serif; 
    border: 1px solid #000000;
    overflow-y: hidden;
    resize: none;
    user-select: none; 
    border-bottom-left-radius: 5px;  
    background-color: #D9D9D9; 
}

/* MARKDOWN SYNTAX SECTION */
.MDSyntax{
    width: 100%;
    height: 100%;
    padding: 130px 3% 0 3%;  
    text-align: center; 
    position: relative;
} 

.MDSyntax img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 99vw; 
    z-index: -1;  
    margin-top: 95px;
}

/* DEVELOPERS SECTION */
.developers{
    width: 100%;
    height: 100%;
    padding: 100px 3% 0 3%; 
}

.developers h1{
    font: bold 33px 'Mulish', sans-serif;
    color: #000000; 
    margin-top: 1000px;  
    text-align: center;

}   


/* HTML OUTPUT CONTAINER */
#entry2 {
    width: 100%;
    height: 100%;
    padding: 20px 3% 0 3%; 
    text-align: center;    
}

#Container2 { 
    margin-top: 20px;
    display: flex;
    flex-direction: column; 
    margin-left: 860px; 
}

#Toolbar2 {
    background-color: #000000;
    padding: 13px;  
    width: 500px; 
    border-bottom: 1px solid #ccc; 
    display:flex; 
    justify-content: space-between;    
    font-size: 18px;  
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;    
    margin-top: -490px; 
}

#Toolbar2 div {
    color: #ffffff; 
    font-weight: bold;
} 

#Toolbar2 button { 
    margin-left: auto; 
    background: none;
    border: none; 
    outline: none; 
    font: inherit;
    cursor: pointer;   
    color: #ffffff; 
    font-weight: bold;
} 

#Toolbar2 button:hover{ 
    color: #D9D9D9;
}

#HTMLOutput {    
    height: 400px; 
    padding: 20px;  
    padding-top: 15px; 
    font: 16px 'Mulish', sans-serif;
    border: 1px solid #000000; 
    resize: none; 
    box-sizing: border-box; 
    overflow-y: auto; 
    overflow-x: auto;   
    white-space: nowrap;
    border-bottom-right-radius: 5px;  
    width: 465px; 

    scrollbar-color: #000000 #D9D9D9;
    scrollbar-width:auto; 
    outline: none;
} 

#HTMLOutput::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 5px; 
}

#HTMLOutput::-webkit-scrollbar-track {
    background-color: #D9D9D9;
}

#HTMLOutput::placeholder {
    color: #999;  
} 

.line-numbers2 { 
    height: 400px;
    width: 35px;
    padding-top: 15px;
    font-family: 'Mulish', sans-serif; 
    border: 1px solid #000000;
    overflow-y: hidden;
    resize: none;
    user-select: none; 
    border-bottom-left-radius: 5px;  
    background-color: #D9D9D9; 
} 

/* CONVERT AND DOWNLOAD BUTTONS */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: -320px;  
    margin-bottom: 130px;
}

#convertButton,
#downloadButton { 
    font: 18px 'Mulish', sans-serif; 
    background-color: #434343;
    color: #FFFFFF; 
    padding: 12px 40px; 
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    cursor: pointer;   
    height: 50px;  
    width: 170px;  
    margin-bottom: 15px; 
    z-index: -1;
} 

#convertButton:hover, #downloadButton:hover{ 
    color: #D9D9D9;
    border: 2px solid #D9D9D9;
} 
 